body {
    background: #6495ED;
}

.header2 {
    position: absolute;
    left: 40%;
    right: 40%;
    top: 0%;
}

.header {
    position: absolute;
    Margin: 15px;
    width: 90%;
    top: 18%;
}

.menu-main {
    list-style: none;
    text-align: center;
}

.menu-main li {
    display: inline-block;
}

.menu-main li:after {
    color: #3333ff;
    display: inline-block;
    vertical-align: top;
}

.menu-main li:last-child:after {
    content: none;
}

.menu-main a {
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 20px;
    margin: 0 34px 0 30px;
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
    transition: color .2s;
}

.menu-main a,
.menu-main a:visited {
    color: #4d4dff;
}

.menu-main a.current,
.menu-main a:hover {
    color: #003cff;
}

.menu-main a:before,
.menu-main a:after {
    content: "";
    position: absolute;
    height: 4px;
    top: auto;
    right: 50%;
    bottom: -5px;
    left: 50%;
    background: #003cff;
    transition: .8s;
}

.menu-main a:hover:before,
.menu-main .current:before {
    left: 0;
}

.menu-main a:hover:after,
.menu-main .current:after {
    right: 0;
}

@media (max-width: 550px) {
    .menu-main {
        padding-top: 0;
    }
    .menu-main li {
        display: block;
    }
    .menu-main li:after {
        content: none;
    }
    .menu-main a {
        padding: 25px 0 20px;
        margin: 0 30px;
    }
}

li {
    float: left;
    width: 10%;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
a {
    text-decoration: none;
}

.nav {}

.aside {}

.section {
    position: absolute;
    background: #3165c4;
    color: #0c1527;
    top: 30%;
    left: 10%;
    right: 15%;
    bottom: 20%;
    border-left: 20px;
    border-right: 20px;
}

.main {}

.footer {}

.dark-mode {}